
body{
    border: 3px solid;
    width: 642px;
    height: 291px;
    border-radius: 6px;
}

#textBox{
    margin: 5px;
    margin-left: 120px;
    width: 350px;
    height: 20px;
}

.KeyBoard {
    margin-top: 5px;
    background-image: url(background.jpg);
    width: 642px;
    height: 250px;
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#escape, #tab, #enter, #shift, #space{
    border-radius: 6px;
    border: 2px solid;
}

.numbers_first_line, .liters_second_line, .liters_third_line, .liters_fourth_line{
    border-radius: 6px;
    border: 2px solid;
}

.first_line {
    margin: 1px;
    display: flex;
    width: 640px;
    height: 50px;
}

#escape {
    padding: 10px;
    width: 60px;
}

.numbers_first_line {   
    padding: 10px;
    width: 600px;
    margin-left: 1px;
}

.second_line {
    margin: 1px;
    display: flex;
    width: 640px;
    height: 50px;
}

#tab{
    padding: 10px;
    width: 50px;
}

.liters_second_line {
    padding: 10px;
    width: 600px;
    margin-left: 1px;
}

.third_line {
    margin: 1px;
    display: flex;
    width: 640px;
    height: 50px;
}

.liters_third_line {
    padding: 10px;
    width: 600px;
    margin-left: 1px;
}

#enter{
    padding: 10px;
    width: 70px;
}

.fourth_line {
    margin: 1px;
    display: flex;
    width: 640px;
    height: 50px;
}

#shift{
    padding: 10px;
    width: 60px;
}

.liters_fourth_line {
    padding: 10px;
    width: 600px;
    margin-left: 1px;
}

#space{
    margin: 1px;
    padding: 5px;
    margin-left: 120px;
    width: 350px;
    height: 29px;
}