
#textBox{
    margin-left: 120px;
    width: 350px;
    height: 20px;
}

.KeyBoard {
    margin-top: 10px;
    background-image: url(background.jpg);
    width: 640px;
    height: 250px;
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.first_line {
    display: flex;
    width: 640px;
    height: 50px;
}

#escape {
    padding: 10px;
    width: 60px;
    border: 3px solid;
}

.numbers_first_line {   
    padding: 10px;
    width: 600px;
    border: 3px solid;
    margin-left: 1px;
}

.second_line {
    display: flex;
    width: 640px;
    height: 50px;
}

#tab{
    padding: 10px;
    width: 50px;
    border: 3px solid;
}

.liters_second_line {
    padding: 10px;
    width: 600px;
    border: 3px solid;
    margin-left: 1px;
}

.third_line {
     display: flex;
    width: 640px;
    height: 50px;
}

.liters_third_line {
    padding: 10px;
    width: 600px;
    border: 3px solid;
    margin-left: 1px;
}

#enter{
    padding: 10px;
    width: 70px;
    border: 3px solid;
}

.fourth_line {
    display: flex;
    width: 640px;
    height: 50px;
}

#shift{
    padding: 10px;
    width: 60px;
    border: 3px solid;
}

.liters_fourth_line {
    padding: 10px;
    width: 600px;
    border: 3px solid;
    margin-left: 1px;
}

#space{
    padding: 10px;
    margin-left: 120px;
    width: 350px;
    height: 25px;
    border: 3px solid;
}